:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

nav>img {
  width: 40px;
  margin-right: 7px;
}

nav>span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header {
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #282D35;
}

h1 {
  line-height: 1.1;
  color: #61DAFB;
}

main {
  padding: 60px 30px;
}

main>h1 {
  margin: 0;
  font-size: 2.4rem;
  color: white;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list>li {
  padding-block: 10px;
  line-height: 19px;
  font-size: 1.3rem;
}

.facts-list>li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}